.editor {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
  
  .viewport {
    flex: 1;
    position: relative;
  }
  
  .bottom-instructions {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
  }
  
  .inspector {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    z-index: 1;
  }
  