.editor {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editor-container {
  display: flex;
  flex-grow: 1;
}

.viewport {
  flex-grow: 1;
  position: relative;
}

.bottom-instructions {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
